@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body {
    font-family: 'Inter', sans-serif;
  } */

  /* src/styles/global.css */
h1,h2 {
    font-family: 'Playfair Display', serif;
  }

  h3,h4,h5,h6 {
    font-family: 'Inter', sans-serif;
  }
  